.card
  .card-header
    %i.fa.fa-user
    = "#{current_user.username}'s dashboard"
  .card-body
    .card-text      
      - if current_user.tickets == 0
        Refill
      - else
        = "Remaining tickets: #{current_user.tickets}"
        = link_to new_ticket_path do
          (Buy more)

    - unless current_user.teacher_profile.nil?
      %hr/    
      .card-text
        - current_user.teacher_profile.courses.planned.each do | c |
          = "At #{c.time_slot} => Teaching #{c.language.name} to #{c.student.username}"
          = link_to c.zoom_url do
            %i.fas.fa-video
          %br/
        
    %hr/      
    .card-text
      - current_user.courses.planned.each do | c |
        = "At #{c.time_slot} => Learning #{c.language.name} with #{c.teacher.user.username}"
        = link_to c.zoom_url do
          %i.fas.fa-video
        %br/

  
