%h3.text-center Buy some tickets

- if current_user.stripe_user_id
  - content_for :packs, 'stripe'
  - content_for :no_css_packs, 'stripe'
  - content_for :extra_js do
    %script{src: "https://js.stripe.com/v3/", defer: "true", 'data-turbolinks-track': "reload"}
    :javascript
      window.CHECKOUT_TICKETS_PATH = "#{checkout_tickets_path}";
      window.STRIPE_PUB_KEY = "#{Rails.configuration.stripe[:publishable_key]}";

  Stripe account enabled:
  = link_to dashboard_tickets_path do
    Show dashboard

  #products{style: "display:none;"}
    .row
    - @products.each do |product|
      .col-sm-4
        %a{href: "#", 'data-product': "#{product[:id]}"}
          %h2
            .div
              = "#{product[:name]}"
              %i.fas.fa-ticket-alt.fa-4x
              = "#{product[:price]}￥(+tax)"

- else

  A Stripe account need to be connected to process your payment.
  = link_to image_pack_tag("stripe_button.png"), stripe_button_link
