%h3.text-center Buy some tickets

- content_for :packs, 'stripe'
- content_for :no_css_packs, 'stripe'

#stripe{data: {'new-url': new_stripe_path}}

#products{style: "display:none;"}
  - current_plan = current_user.stripe_plan_id
  - unless current_plan.nil?
    %a{href: "#", data: {'stripe-item-id': "#{current_plan}", 'stripe-item-type': "cancel"}}
      .card
        .card-header
          %i.fas.fa-ticket-alt.fa-2x
          Cancel current plan
    %br/

  - StripeController.available_products.each do |product|
    - next if (not current_plan.nil? and (product[:type] == :subscription))
    %a{href: "#", data: {'stripe-item-id': "#{product[:id]}", 'stripe-item-type': "#{product[:type]}"}}
      .card
        .card-header
          .float-left
            %i.fas.fa-ticket-alt.fa-2x
            = product[:name]
          .float-right
            = product[:price]
          .clearfix
        .card-body
          = product[:description]
    %br/
