%h3.text-center Buy some tickets

- content_for :packs, 'stripe'
- content_for :no_css_packs, 'stripe'

#stripe{data: {'pub-key': "#{Rails.configuration.stripe[:publishable_key]}",
               'email': "#{current_user.email}",
               'id': "#{current_user.id}",
               'success-url': order_success_tickets_url,
               'cancel-url': order_cancel_tickets_url}}

#products{style: "display:none;"}
  - @products.each do |product|
    %a{href: "#", data: {'item-type': "product", 'item-id': "#{product[:id]}"}}
      .card
        .card-header
          .float-left
            %i.fas.fa-ticket-alt.fa-2x
            #{product[:name]}
          .float-right
            = "#{product[:price]}￥(+tax)"
          .clearfix
        .card-body
          = "Allow to reserve #{product[:hours]} x 1H course."
    %br/
