.card
  .card-header
    .float-left
      - unless teacher.image.blank?
        = cl_image_tag teacher.image, secure:true
      = link_to teacher_path(teacher) do
        = teacher.name
    .float-right
      - if current_user.id == teacher.user.id
        = link_to edit_teacher_path(teacher) do
          %i.fa.fa-edit
    .clearfix
  .card-body
    .row
      Teached languages :
      %ul
        - teacher.languages.each do | teached_language |
          %li= teached_language.name

    .row
      .col-sm-12
        = teacher.presentation
