%h3.text-center Teacher profile

- if @teacher
  - content_for :packs, 'bootstrap-table,bootstrap-tempusdominus,tutor-scheduler-teachers'
  - content_for :no_css_packs, 'tutor-scheduler-teachers'

  = render 'teacher', {teacher: @teacher}

  - if current_user.id == @teacher.user.id
    %br/

    %h3.text-center Registering new courses slots

    = form_with id: 'new-course-form', model: @course do |f|
      - if @course.errors.any?
        #error_explanation
          %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
          %ul
            - @course.errors.full_messages.each do |message|
              %li= message

      .form-group
        .input-group.date#day_picker{data: {'target-input':"nearest", 'date-format': "YYYY-MM-DD HH:00"}}
          = f.label :time_slot, class: 'form-control col-sm-2'
          = f.text_field :time_slot, class: 'form-control datetimepicker-input', 'data-target': "#day_picker"
          .input-group-append{data: {target: "#day_picker", toggle: "datetimepicker"}}
            .input-group-text
              %i.fas.fa-calendar

      .form-group
        .input-group
          = f.label :zoom_url, class: 'form-control col-sm-2'
          = f.text_field :zoom_url, class: 'form-control'

      .text-center
        = f.button 'Add', class: 'btn btn-primary', data: { disable_with: "Registering course..." }

    %br/

    .h3.text-center Action required
    %table#past_slots{'data-url': "#{action_required_courses_teachers_path}", 'data-toggle': 'table'}
      %thead
        %tr
          %th{'data-field':"time_slot"} Date
          %th{'data-field':"language"} Language
          %th{'data-field':"student"} Student
          %th{'data-field':"actions", 'data-formatter':'action_formatter'} Missing

    %br/

    .h3.text-center Current slots
    %table#current_slots{'data-url': "#{future_courses_teachers_path}", 'data-toggle': 'table'}
      %thead
        %tr
          %th{'data-field':"time_slot"} Date
          %th{'data-field':"language"} Language
          %th{'data-field':"student", 'data-formatter':'student_history_formatter'} Student
          %th{'data-field':"zoom_url"} Zoom

- else

  Create a
  = link_to new_teacher_path do
    teaching profile
