!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TutorScheduler
    = csrf_meta_tags
    = csp_meta_tag

    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

    = stylesheet_pack_tag 'bootstrap4', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'fontawesome', media: 'all', 'data-turbolinks-track': 'reload'

    = yield :extra_styles

  %body
    .container
      %nav.navbar.navbar-expand-lg.navbar-light.bg-light
        %span.navbar-brand.mb-0.h1 Tutor Scheduler
        %button.navbar-toggler{type: 'button',
                               data: {toggle: 'collapse',
                                      target: '#navbarNav'},
                               aria: {controls: 'navbarNav',
                                      expanded: 'false',
                                      label: 'Toggle navigation'}}
          %span.navbar-toggler-icon
        .navbar-collapse.collapse#navbarNav
          .navbar-nav
            = link_to root_path, class: 'nav-item nav-link' do
              %i.fas.fa-tachometer-alt
              Dashboard
            = link_to courses_path, class: 'nav-item nav-link' do
              %i.fas.fa-user-graduate
              Learning
            - if user_signed_in?
              - if !current_user.teacher_profile.nil?
                = link_to teachers_path, class: 'nav-item nav-link' do
                  %i.fas.fa-school
                  Teaching
              = link_to edit_user_registration_path, class: 'nav-item nav-link' do
                %i.fas.fa-user-cog
                User settings
              = link_to destroy_user_session_path, class: 'nav-item nav-link', method: :delete do
                %i.fas.fa-sign-out-alt
                Logout

      %br/

      - flash.each do |flash_type, flash_content|
        .alert{class: "alert-#{flash_type} alert-dismissible fade show",
               role: 'alert'}
          = flash_content
          %button.close{type: 'button',
                        'data-dismiss': 'alert',
                        'aria-label': 'Close'}
            %span{'aria-hidden': 'true'}
              &times;

      = yield

      = javascript_pack_tag 'bootstrap4', 'data-turbolinks-track': 'reload'
      = javascript_pack_tag 'fontawesome', 'data-turbolinks-track': 'reload'

      = yield :extra_js
